html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: transparent;
}
* {
    outline: none;
    font-weight: 700;
    color: #777777;
}
*:not(input) {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}
::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}
.startscreen {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    background: #feca29;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
}
.logo {
    width: 100%;
    height: 100%;
    /*background: url('/img/cadlogo.png') center center no-repeat;*/
    display: block;
    float: left;
}

[class^="arrow-"] {
    position: absolute;
}


.facebook_box,
.email_box {
    width: 100%;
    height: 42%;
    float: left;
    position: relative;
}
.facebook_box {
    background: #e2f4ff;
}
.facebook_logo {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background: #ffffff;
    border-radius: 20px;
}
.facebook_logo .fa {
    font-size: 100px;
    margin-top: -6px;
    color: #3b5998;
}

.email_box {
    background: #ffc109;
    border-top: 1px solid #eee;
}
.email_box.sign_up {
    background: rgba(163,233,164,1);
}
.email_box form {
    width: 100%;
    display: block;
    margin-top: 20px;
}
.email_box input {
    width: 60%;
    margin-top: 15px;
    margin-left: 20%;
    float: left;
    height: 30px;
    background: #ffffff;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    background: rgba(255,111,4,.5);
    border-radius: 3px;
    border: 1px solid rgba(238,238,238,.5);
    font-weight: 400;
    letter-spacing: 1px;
}
.email_box.sign_up input {
    background: rgba(66,189,65,.5);
}
.email_box input[placeholder] {
    color: #fff;
}
.email_box input[type=submit] {
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    background: rgba(255,111,4,1);
    color: #fff;
}

.email_box a {
    width: 40%;
    text-align: center;
    display: block;
    margin-top: 15px;
    color: rgba(255,111,4,1);
    text-align: right;
    margin-left: 30%;
    font-size: 12px;
    text-transform: uppercase;
    float: left;
}

.login_box {
    width: 100%;
    height: 16%;
    box-sizing: border-box;
    float: left;
    background: #ffffff;
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255,111,4,1);
    line-height: 100%;
    font-weight: bold;
    border-top: 1px solid #eee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






.sticky_headline {
    background: #03a9f4;
    color: white;
    height: 50px;
    line-height: 50px;
    border-top: 20px solid rgba(255,193,9,1);
    font-size: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    z-index: 10;
}
.friends_list li.add_friends,
.friends_list li.play_random {

}
.friends_list {
    width: 100%;
    list-style: none;
    float: left;
    display: block;
    padding: 52px 0 0 0;
    position: relative;
    z-index: 1;
}
.friends_list li {
    width: 100%;
    height: 70px;
    line-height: 70px;
    list-style: none;
    text-transform: uppercase;
    display: block;
    float: left;
    border-top: 1px solid #eeeeee;
    background: #e1f5fe;
    position: relative;
    z-index: 2;
}
.friends_list li>input {
    width: 90%;
    background: red;
    display: block;
    float: left;
    height: 70px;
    padding: 0;
    margin: 0 5%;
    border: 0;
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;

}
.friends_list li>span {
    width: 90%;
    padding: 0 5%;
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.friends_list li.add_friends .original {
    width: 100%;
    height: 70px;
    display: block;
    float: left;
}

.friends_list li.add_friends .open .searchfield {
    width: 90%;
    height: 70px;
    max-height: 70px;
    margin: 0 5%;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 35px;
    text-transform: uppercase;
    color: #777777;
    float: left;
    display: block;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top: 1px solid #ffffff;
}
::-webkit-input-placeholder {
    color: #999999;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999999;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;
}

:-ms-input-placeholder {
    color: #999999;
}
.friends_list li.add_friends .open {
    display: none;
    width: 100%;
    height: 210px;
    float: left;
    position: relative;
    z-index: 0;
}
.friends_list li.add_friends .open button {
    width: 100%;
    height: 70px;
    line-height: 70px;
    border: 0;
    margin: 0;
    text-align: left;
    padding: 0 5%;
    text-transform: uppercase;
    font-size: 35px;
    float: left;
    background: #cccccc;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 0;
    border-top: 1px solid #ffffff;
}
.friends_list li.add_friends .open button.facebook {
    background: #3b5998;
    color: #ffffff;
    border-top: 1px solid #c3ceea;
    -moz-box-shadow:    inset 0 -2px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,.1);
    box-shadow:         inset 0 -2px 3px rgba(0,0,0,.1);
}
.friends_list li.add_friends .open button .fa {
    font-size: 35px;
    color: #fff;
}
.friends_list li.add_friends .open button .box .fa {
    font-size: 110px;
}
.friends_list li.add_friends .open button .box {
    height: 75px;
    margin-top: -5px;
    width: 70px;
    float: right;
}



.friends_list li.cock_base {
    background: #e1f5fe;
    border-top: 1px solid #cccbee;
    position: relative;
}
.friends_list li.cock_sent {
    background: #03a9f4;
    border-top: 1px solid #cccbee;
    position: relative;
}
.friends_list li.cock_received {
    background: #ffecb3;
    border-top: 1px solid #ffffff;
    position: relative;
}
.friends_list li.cock_waiting_for_grade {
    background: #ffc107;
    border-top: 1px solid #eee4ae;
    position: relative;
}
.friends_list li.cock_hidden_now_needs_review {
    background: #42bd41;
    border-top: 1px solid #a4fc9f;
    color: #ffffff;
}
.friends_list li.cock_graded {
    background: #ff6f00;
    border-top: 1px solid #eeca81;
    position: relative;
}
.friends_list li.cock_grade_sent_wait_for_new {
    background: #a3e9a4;
    border-top: 1px solid #e7e9df;
    position: relative;
}
.friends_list li.cock_sent span,
.friends_list li.cock_graded span,
.friends_list li.cock_hidden_now_needs_review span {
    color: #ffffff;
}
.friends_list li.cock_received span,
.friends_list li.cock_waiting_for_grade span {
    color: #777777;
}

.friends_list li.cock_base:before,
.friends_list li.cock_sent:before,
.friends_list li.cock_received:before,
.friends_list li.cock_waiting_for_grade:before,
.friends_list li.cock_hidden_now_needs_review:before,
.friends_list li.cock_grade_sent_wait_for_new:before,
.friends_list li.cock_graded:before,
.friends_list li.cock_base:after,
.friends_list li.cock_sent:after,
.friends_list li.cock_received:after,
.friends_list li.cock_waiting_for_grade:after,
.friends_list li.cock_hidden_now_needs_review:after,
.friends_list li.cock_grade_sent_wait_for_new:after,
.friends_list li.cock_graded:after {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.friends_list li.cock_base:before,
.friends_list li.cock_sent:before,
.friends_list li.cock_received:before,
.friends_list li.cock_waiting_for_grade:before,
.friends_list li.cock_hidden_now_needs_review:before,
.friends_list li.cock_graded:before,
.friends_list li.cock_grade_sent_wait_for_new:before {
    width: 45%;
    height: 70px;
    padding-left: 5%;
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 10;
    background: rgba(245, 0, 87, 0.90);
}

.friends_list li.cock_base:after,
.friends_list li.cock_received:after,
.friends_list li.cock_waiting_for_grade:after,
.friends_list li.cock_hidden_now_needs_review:after,
.friends_list li.cock_graded:after {
    width: calc(50% - 20px);
    padding-right: 20px;
    text-align: right;
    content: '';
    height: 70px;
    background: rgba(245, 0, 87, 0.90) url('/img/DrawCock_icon_V1.png') no-repeat right 5% top 0;
    background-size: 143px 70px;
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.friends_list li.cock_sent:before,
.friends_list li.cock_waiting_for_grade:before,
.friends_list li.cock_grade_sent_wait_for_new:before {
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #ffffff;
    content: 'Cock sent';
    padding: 0;
    text-align: center;
    font-size: 30px;
}
.friends_list li.cock_waiting_for_grade:before{
    content: 'Cock hidden';
}
.friends_list li.cock_waiting_for_grade:after{
    background: none;
}
.friends_list li.cock_hidden_now_needs_review:before {
    content: '';
}
.friends_list li.cock_hidden_now_needs_review:after {
    content: '';
    background: rgba(245, 0, 87, 0.90) url('/img/ReviewDoodle_icon_V1.png') no-repeat center center;
    background-size: contain;
}
.friends_list li.cock_grade_sent_wait_for_new:before {
    content: 'Review sent';
}
.friends_list li.cock_graded:after {
    content: '';
    background: rgba(245, 0, 87, 0.90) url('/img/CheckScore_icon_V1.png') no-repeat center center;
    background-size: contain;
}
/*
.friends_list li.cock_sent:after,
.friends_list li.cock_waiting_for_grade:after{
    content: '';
    background: none;
}
*/
.friends_list li.cock_received:after {
    content: '';
    background: rgba(245, 0, 87, 0.90) url('/img/HideCock_icon_V1.png') no-repeat right 5% top 0;
    background-size: 143px 70px;
}


.friends_list li.cock_base.active span,
.friends_list li.cock_sent.active span,
.friends_list li.cock_received.active span,
.friends_list li.cock_waiting_for_grade.active span,
.friends_list li.cock_hidden_now_needs_review span,
.friends_list li.cock_graded.active span,
.friends_list li.cock_grade_sent_wait_for_new.active span {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: .8;
}

.friends_list li.cock_base.active:before,
.friends_list li.cock_sent.active:before,
.friends_list li.cock_received.active:before,
.friends_list li.cock_waiting_for_grade.active:before,
.friends_list li.cock_hidden_now_needs_review.active:before,
.friends_list li.cock_graded.active:before,
.friends_list li.cock_grade_sent_wait_for_new.active:before {
    opacity: 1;
}
.friends_list li.cock_base.active:after,
.friends_list li.cock_sent.active:after,
.friends_list li.cock_received.active:after,
.friends_list li.cock_waiting_for_grade.active:after,
.friends_list li.cock_hidden_now_needs_review.active:after,
.friends_list li.cock_graded.active:after {
    opacity: 1;
}

.background_text {
    width: 100%;
    height: 240px;
    font-size: 60px;
    line-height: 80px;
    color: #f8f8f8;
    text-align: center;
    position: fixed;
    z-index: -1;
    text-transform: uppercase;
    top: 50%;
    margin-top: -170px;
}


.menu {
    width: 100%;
    height: 50px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 11;
}

.menu li {
    width: 50%;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    text-align: center;
    position: relative;
    font-size: 35px;
}
.menu .redo {
    left: -50%;
    background: rgba(255,193,9,1);
}
.menu .send {
    right: -50%;
    background: #03a9f4;
    float: left;
}

#sketch {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
#canvasDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background: transparent;
    overflow: hidden;
}
#canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    z-index: 0;
    background: transparent;
}


.doneDiv {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    top: -100%;
    text-align: center;
}
.doneDiv .text {
    width: 70%;
    height: 60%;
    margin: 20% 15%;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    float: left;
    display: block;
}
.doneDiv .text h2 {
    margin: 10px 0;
}
.doneDiv .text img {
    max-width: 100% !important;
}


#reviewSlider {
    width: 90%;
    position: fixed !important;
    bottom: 70px;
    left: 5%;
}
.noUi-target {
    border-color: #eeeeee !important;
    border-radius: 0 !important;
}
.noUi-background {
    background: #ffc107 !important;
    box-shadow: none !important;
}
.noUi-origin {
    background: #ffffff;
}
.noUi-handle {
    background: #ff6f00 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.noUi-handle:before, .noUi-handle:after {
    display: none !important;
}